.resources-container {
    padding: 20px;
    background-color: #F5F5F5;
    min-height: 100vh;
  }
  
  .welcome-text {
    color: #5F259F;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .category-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%
  }
  
  .category-btn {
    flex: 1;
  padding: 10px 8px;
  border: 2px solid #5F259F;
  border-radius: 8px;
  background: white;
  color: #5F259F;
  cursor: pointer;
  font-size: 13px;
  text-align: center;
  }
  
  .category-btn.active {
    background-color: #5F259F;
    color: white;
  }
  .search-bar {
    flex: 1.5;
    padding: 10px 16px;
    border: 2px solid #5F259F;
    border-radius: 8px;
    font-size: 13px;
    outline: none;
    color: #333;
  }
  
  .search-bar:focus {
    border-color: #5F259F;
  }
  
  .resources-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .resource-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  }
  
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-header h3 {
    color: #5F259F;
    font-size: 16px;
  }
  
  .eligibility-badge {
    padding: 4px 8px;
    border-radius: 10px;
    font-size: 12px;
    background-color: #92E9CA;
    color: #488B44;
  }
  .eligibility-badge.Likely {
    background-color: #FFE5B4;
    color: #B8860B;
  }
  .card-location, .card-phone {
    font-size: 13px;
    color: #666;
    margin: 5px 0;
  }
  
  .view-details-btn {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #5F259F;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }
  
  .loading-text {
    text-align: center;
    color: #5F259F;
    font-size: 30px;
    margin-top: 50px;
  }