.navbar {
  width: 100%;
  min-height: 86px;
  background-color: #5f1aa6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 66px;
  box-sizing: border-box;
}

.navbar-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-logo-img {
  height: 105px;
  width: auto;
  display: block;
}

.navbar-links {
  display: flex;
  align-items: center;
  gap: 150px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #FFC72A;
  text-underline-offset: 8px;
}

.nav-link.active {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #FFC72A;
  text-underline-offset: 8px;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.logout-button:hover {
  text-decoration: underline;
  text-decoration-color: #FFC72A;
  text-underline-offset: 8px;
}